// ===================================
//     Google font
// ======================================
@import url('https://fonts.googleapis.com/css?family=Helvetica:400,700')
@import url('https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,900')
@mixin emph-font
  font-family: 'Lobster', cursive
@mixin alt-font
  font-family: 'Helvetica', serif
@mixin main-font
  font-family: 'Raleway', sans-serif
